HELP.md
pom.xml.bak
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.gradle
build/
!petclinic-app/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.attach_pid*
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### CSS ###
_site/
*.css
!petclinic.css

### Terraform ###
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl

### Ansible ###
*.retry
*.log
.ansible/
**/inventory/*.ini
**/inventory/hosts
!**/inventory/*.yaml
*.vault

### OS ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

### Python ###
venv/
*.pyc
__pycache__/
*.py[cod]
*$py.class
.Python
env/
ENV/

### Docker ###
.docker/
docker-compose.override.yml

### Secrets ###
**/app_secrets.env
**/*.env
!**/*.env.example

### Jenkins ###
.jenkins/
jenkins_home/

